/* * {
    padding: 0;
    margin: 0;
    color: white;
}
#navbar{
    height: 60px;
    background-color: #0f1111;
}
button{
    background-color: #f08804;
}
#logo{
    color: #f08804;
    font-size: 25px;
}
a{
    margin-right: 100px;
    text-decoration: none;
    

}
.contentbox{
    height : 100px;
    width  : 100px;
    border: 2px solid black;
    display : inline-block;

}
footer{
    background-color: #0f1111;
}
#content{
    height: 490px;
} */
div{
    height: 300px;
    width: 300px;
    background-color: blue;


}
@media (width : 600px){
    div{
        background-color: red;
    }
}
@media (min-width : 600px){
    div{
        background-color: yellow;
    }
}
@media (min-width : 200px) and (max-width :300px){
    div{
        background-color: brown;
    }
}